:root {
    --primary-background: #949b9e;
    --secondary-background: #F4F2E9;
    --primary-button: rgb(244, 242, 233);
    --primary-button-border:rgb(56, 33, 16);
    --primary-text: #4c5257;
    --secondary-text: #00635D;

    --board-border: 15px solid var(--primary-text);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background);
    background-image: linear-gradient(315deg, #949b9e 0%, #e2ebf0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', sans-serif;
    color: var(--primary-text);
    margin: 0;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    height: 600px;
    width: 600px;
    background-color: transparent;
    overflow: hidden;
}

.board-container {
    height: 600px;
    width: 600px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 100%;
}

.board-spots {
   background-color: transparent;
   overflow: hidden;
   border-radius: 15%;
   cursor: pointer;
   color: #6e0f20b0;
   text-align: center;
   vertical-align: middle;
   line-height: 172px;
   font-family: Arial, sans-serif;
   font-weight: bold;
   font-size: 150px;
}

.board-spots:hover {
    background-color: #a5b1b8;
}   

#s-0 {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#s-1 {
    border-left: var(--board-border);
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#s-2 {
    border-left: var(--board-border);
    border-bottom: var(--board-border);
}

#s-3 {
    border-top: var(--board-border);
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#s-4 {
    border: var(--board-border);
}

#s-5 {
    border-top: var(--board-border);
    border-left: var(--board-border);
    border-bottom: var(--board-border);
}

#s-6 {
    border-top: var(--board-border);
    border-right: var(--board-border);
}

#s-7 {
    border-top: var(--board-border);
    border-left: var(--board-border);
    border-right: var(--board-border);
}

#s-8 {
    border-top: var(--board-border);
    border-left: var(--board-border);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 22px;
}

.fa-github {
    color: var(--primary-text);
    font-size: 40px;
    transition: transform 0.1s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.2);
}